{% extends "base.html" %}
{%load url from future%}

{% block content %}
<div class="margen">

<div class="titulo-general">INICIAR SESION</div>
{% if form.errors %}
<div class="warning">Su usuario o contraseña son invalidos, favor intente de nuevo</div>
{% endif %}

<form method="post" action="{% url 'user-login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
</tr>
<tr>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
</tr>
<tr>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

{% endblock %}
