{%extends "base2.html"%}
{%block title%}Formulario{%endblock%}
{%block content%}
<div  style="padding:15px;">
<form action="." method="POST" accept-charset="utf-8">
  {% csrf_token %}
  {{form.errors}}
  {{ form.creado_por }}
<table>
<tr>
    <td>{{ form.nombre.label_tag }}</td>
</tr>
<tr>
    <td>{{ form.nombre }}</td>
</tr>
<tr>
    <td>{{ form.tipo.label_tag }}</td>
</tr>
<tr>
    <td>{{ form.tipo }}</td>
</tr>
<tr>
    <td>{{ form.descripcion.label_tag }}</td>
</tr>
<tr>
    <td>{{ form.descripcion }}</td>
</tr>
<tr>
    <td>{{ form.municipio.label_tag }}</td>
</tr>
<tr>
    <td>{{ form.municipio }}</td>
</tr>
</table>
<div id="agregar">
<p><center><input type="submit" value=""></center></p>
</div>
</form>
</div>
{%endblock%}
