{%extends "base_imprimir.html"%}
{%load truncador%}
{%block title%}Resultado{%endblock%}
{%block extra_head%}
<script type="text/javascript" src="/files/js/highcharts.js"></script>
    <script type="text/javascript" src="/files/js/exporting_patched.js"></script>
        <script type="text/javascript">
            var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'highchart',
         defaultSeriesType: 'bar',
         width: 650,
         height: 450,
      },
      exporting: {
        enabled: false
      },
      title: {
         text: 'Consolidado'
      },
      xAxis: {
         //preguntas
         categories: [{%for legend in url_grafo.barra.legends%} '{{legend}}',{%endfor%}]  
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Puntaje total'
         }
      },
      legend: {
         //backgroundColor: Highcharts.theme.legendBackgroundColorSolid || '#FFFFFF',
         reversed: true
      },
      tooltip: {
        enabled: false 
      },
      plotOptions: {
         series: {
            stacking: 'normal',
            dataLabels: {
                enabled: true,
                align: 'center',
                color: '#000',
                formatter: function() {
                  if (this.series.name == 'Puntaje total'){
                    return '' + this.point.stackTotal;
                  }else {
                    return ''+ this.y;
                  }
                 },
                style: {
                    font: '12px Trebuchet MS, Verdana, sans-serif'
                }
            }

         }
      },
         series: [{ //puntajes
         name: 'Puntaje total',
         data: {{url_grafo.barra.data.1}}
      }, {
         name: 'Puntaje Obtenido',
         data: {{url_grafo.barra.data.0}}
      }]
   });
   
   
});
        </script>

{%endblock%}
{% block content %}
<div  style="padding:15px;">
  <h2 class="left"> RESULTADO DE LA EVALUACION</h2>
  <div class="separador"></div>
  <div id="tabladescrip">
      <table border="0">
        <tr>
          <td><b>ORGANIZACION</b></td>
          <td>{{encuesta.organizacion}}</td>
        </tr>
        <tr>
          <td><b>TIPO</b></td>
          <td>{{encuesta.organizacion.get_tipo_display}}</td>
        </tr>
        <tr>
          <td><b>DESCRIPCION</b></td>
          <td>{{encuesta.organizacion.descripcion}}</td>
        </tr>
        <tr>
          <td><b>FECHA</b></td>
          <td>{{encuesta.fecha}}</td>
        </tr>
        <tr>
          <td><b>AUTOR</b></td>
          <td>{{encuesta.usuario.get_full_name}}</td>
        </tr>
      </table>
  </div>
    <div id="tabs">
    {%for fila in resultados%}
        <div id="tabs-{{fila.categoria.id}}">
            <b style="font-size:16px;">{{fila.categoria}}</b><br><br>
            <div class="tabla" >
            <table>
              <tr><th>Pregunta</th><th>Puntaje Obtenido</th><th>Comentario</th></tr>
              {% for resp in fila.respuestas%}
              <tr>
                <td>{{resp.pregunta}}</td>
                <td>{{resp.respuesta.puntaje|default:"0"}}/5</td>
                <td><a href="" title="{{resp.comentario}}" class="vtip">{{resp.comentario|truncatewords:"10"}}</a></td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{fila.puntaje|default_if_none:"0"}}/{{fila.total_maximo}}</td></tr>
            </table>
            </div>
            <div id="grafo-{{fila.categoria.id}}" style="width:100%; background:#fff;"><br><center><img src="{{fila.grafo_url}}" /></center></div>
        </div>
    {%endfor%}
        <div id="tabs-consolidado">
            <b style="font-size:16px;">Consolidado</b><br><br>
            <div class="tabla" >
            <table>
              <tr><th>Pregunta</th><th>Puntaje Obtenido</th></tr>
              {% for fila in resultados%}
              <tr>
                <td>{{fila.categoria}}</td>
                <td>{{fila.puntaje|default:"0"}}/{{fila.total_maximo}}</td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{encuesta.puntaje}}/180</td></tr>
            </table>
            </div>
              <div id="grafos">
                  <div id="grafo-consolidado-radar" style="width:100%; background:#fff;"><br><center><img src="{{url_grafo.radar}}" /></center>*Este gráfico está normalizado</div>
                  <div id="grafo-consolidado-barra" style="width:100%; background:#fff;"><br><center>
                  <div id="highchart"></div> 
                  </center></div>
        </div>
    </div>
</div>
{% endblock %}
