{%extends "base_imprimir.html"%}
{%load truncador%}
{%block title%}Resultado{%endblock%}
{% block content %}
<div  style="padding:15px;">
  <h2 class="left"> RESULTADO DE LA EVALUACION</h2>
  <div class="separador"></div>
  <div id="tabladescrip">
      <table border="0">
        <tr>
          <td><b>ORGANIZACION</b></td>
          <td>{{encuesta.organizacion}}</td>
        </tr>
        <tr>
          <td><b>TIPO</b></td>
          <td>{{encuesta.organizacion.get_tipo_display}}</td>
        </tr>
        <tr>
          <td><b>DESCRIPCION</b></td>
          <td>{{encuesta.organizacion.descripcion}}</td>
        </tr>
        <tr>
          <td><b>FECHA</b></td>
          <td>{{encuesta.fecha}}</td>
        </tr>
        <tr>
          <td><b>AUTOR</b></td>
          <td>{{encuesta.usuario.get_full_name}}</td>
        </tr>
      </table>
  </div>
    <div id="tabs">
        <script type="text/javascript">
        $(document).ready(function(){
        $('.algo').text( ('.algo').text().replace('.', '') );
        });
        </script>
    {%for fila in resultados%}
        <div id="tabs-{{fila.categoria.id}}">
            <b style="font-size:16px;">{{fila.categoria}}</b><br><br>
            <div class="tabla" >
            <table>
              <tr><th>Pregunta</th><th>Puntaje Obtenido</th><th>Comentario</th></tr>
              {% for resp in fila.respuestas%}
              <tr>
                <td>{{resp.pregunta}}</td>
                <td>{{resp.respuesta.puntaje|default:"0"}}/5</td>
                <td><a href="" title="{{resp.comentario}}" class="vtip">{{resp.comentario|truncatewords:"10"}}</a></td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{fila.puntaje|default_if_none:"0"}}/{{fila.total_maximo}}</td></tr>
            </table>
            </div>
            <div id="grafo-{{fila.categoria.id}}" style="width:100%; background:#fff;"><br><center><img src="{{fila.grafo_url}}" /></center></div>
        </div>
    {%endfor%}
        <div id="tabs-consolidado">
            <b style="font-size:16px;">Consolidado</b><br><br>
            <div class="tabla" >
            <table>
              <tr><th>Pregunta</th><th>Puntaje Obtenido</th></tr>
              {% for fila in resultados%}
              <tr>
                <td>{{fila.categoria}}</td>
                <td>{{fila.puntaje|default:"0"}}/{{fila.total_maximo}}</td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{encuesta.puntaje}}/180</td></tr>
            </table>
            </div>
              <div id="grafos">
                  <div id="grafo-consolidado-radar" style="width:100%; background:#fff;"><br><center><img src="{{url_grafo.radar}}" /></center>*Este gráfico está normalizado</div>
                  <div id="grafo-consolidado-barra" style="width:100%; background:#fff;"><br><center><img src="{{url_grafo.barra}}" /></center></div>
        </div>
    </div>
</div>
{% endblock %}
