{%extends "base2.html"%}
{%load clasificador %}
{%block title%}Formulario{%endblock%}
{%block extra_head%}
    <link href="/files/css/jquery.stepy.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/files/js/jquery.stepy.min.js"></script>
<script type="text/javascript">
            $(function() {
                $('#encuesta').stepy({
                   backLabel: '&larr; Anterior',
                   block:      true,
                   errorImage: true,
                   nextLabel:  'Siguiente &rarr;',
                   titleClick: true,
                   validate:   false
                  });

                $('div#step').stepy({
                    finish: false
                });
            });
        </script>
{%endblock%}
{%block content%}
<div  style="padding:15px;">
    <h2 class="left">EVALUACION</h2>
    <a href="{% url adjuntar encuesta %}">Adjuntar</a>
    <br>
    <form action="." method="POST" accept-charset="utf-8" id="encuesta">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for fila in formset|categorizador%}
        <fieldset class="categoria-{{fila.categoria.id}}" title="Paso {{forloop.counter}}">
          <legend>{{fila.categoria.titulo|truncatewords:"2"}}</legend>
          {% for form in fila.forms%}
          <div class="izq" style="width:400px;">
          {{form.pregunta}}
          {{form.id}}
          {{form.instance.pregunta.titulo}}
          {{form.respuesta}}
          </div>
          <div style="float:right; font-size:11px; width:280px;">
          Explique como se ha determinado esta referencia: {{form.comentario}}
          </div>
          <div class="separador"></div>
          <hr style="background-color:#ccc;color:#ccc; border:0; height:1px;">
          <br>
          {{form.errors}}
          {%endfor%}
        </fieldset>
      {% endfor %}
    <input type="submit" class="finish"value="GUARDAR EVALUACION">
    </form>
    <div class="separador"></div>
</div>
{%endblock%}
