{%extends "base2.html"%}
{%block title%}Resultado Consolidado{%endblock%}
{% block content %}
<div  style="padding:15px;">
  <h2 class="left"> RESULTADO CONSOLIDADO DE LA EVALUACION</h2>
  <div id="tabladescrip">
      <table border="0">
        <tr>
          <td><b>ORGANIZACION</b></td>
          <td>{{encuesta.organizacion}}</td>
        </tr>
        <tr>
          <td><b>TIPO</b></td>
          <td>{{encuesta.organizacion.get_tipo_display}}</td>
        </tr>
        <tr>
          <td><b>DESCRIPCION</b></td>
          <td>{{encuesta.organizacion.descripcion}}</td>
        </tr>
        <tr>
          <td><b>FECHA</b></td>
          <td>{{encuesta.fecha}}</td>
        </tr>
      </table>
  </div>
    <div id="tabs">
            <div class="tabla" >
            <table>
              <tr><th>Categoria</th><th>Puntaje Obtenido</th></tr>
              {% for fila in tabla%} 
              <tr>
                <td>{{fila.categoria}}</td>
                <td>{{fila.puntaje}}</td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{total}}/180</td></tr>
            </table>
          </div>
          <div id="grafo" style="width:100%; background:#fff;"><br><center><img src="{{url_grafo}}" /></center></div>
    </div>
</div>
{% endblock %}
