{%extends "base2.html"%}
{%load truncador%}
{%block title%}Resultado{%endblock%}
{%block extra_head%}
    <link href="/files/css/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/files/css/vtip.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/files/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/files/js/vtip-min.js"></script>

        <script type="text/javascript">
            $(function(){

                // Tabs
                $('#tabs').tabs();
                $('#grafos').tabs();

                //hover states on the static widgets
                $('#dialog_link, ul#icons li').hover(
                    function() { $(this).addClass('ui-state-hover'); },
                    function() { $(this).removeClass('ui-state-hover'); }
                );

            });
        </script>
{%endblock%}
{% block content %}
<div  style="padding:15px;">
  <h2 class="left"> RESULTADO DE LA EVALUACION</h2>
  <a href="#"><img class="der"src="/files/imagen/imprimir.jpg"></a>
  <div class="separador"></div>
  <div id="tabladescrip">
      <table border="0">
        <tr>
          <td><b>ORGANIZACION</b></td>
          <td>{{encuesta.organizacion}}</td>
        </tr>
        <tr>
          <td><b>TIPO</b></td>
          <td>{{encuesta.organizacion.get_tipo_display}}</td>
        </tr>
        <tr>
          <td><b>DESCRIPCION</b></td>
          <td>{{encuesta.organizacion.descripcion}}</td>
        </tr>
        <tr>
          <td><b>FECHA</b></td>
          <td>{{encuesta.fecha}}</td>
        </tr>
      </table>
  </div>
    <div id="tabs">
      <ul>
        <li><a class="algo" href="#tabs-consolidado">Consolidado</a></li>
      {%for fila in resultados%}
        <li><a class="algo" href="#tabs-{{fila.categoria.id}}">{{fila.categoria.titulo|truncador:"2"}}</a></li>
      {%endfor%}
    </ul>
        <script type="text/javascript">
        $(document).ready(function(){
        $('.algo').text( ('.algo').text().replace('.', '') );
        });
        </script>
    {%for fila in resultados%}
        <div id="tabs-{{fila.categoria.id}}">
            <b style="font-size:16px;">{{fila.categoria}}</b><br><br>
            <div class="tabla" >
            <table>
              <tr><th>Pregunta</th><th>Puntaje Obtenido</th><th>Comentario</th></tr>
              {% for resp in fila.respuestas%}
              <tr>
                <td>{{resp.pregunta}}</td>
                <td>{{resp.respuesta.puntaje|default:"0"}}/5</td>
                <td><a href="" title="{{resp.comentario}}" class="vtip">{{resp.comentario|truncatewords:"10"}}</a></td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{fila.puntaje|default_if_none:"0"}}/{{fila.total_maximo}}</td></tr>
            </table>
            </div>
            <div id="grafo-{{fila.categoria.id}}" style="width:100%; background:#fff;"><br><center><img src="{{fila.grafo_url}}" /></center></div>
        </div>
    {%endfor%}
        <div id="tabs-consolidado">
            <b style="font-size:16px;">Consolidado</b><br><br>
            <div class="tabla" >
            <table>
              <tr><th>Pregunta</th><th>Puntaje Obtenido</th></tr>
              {% for fila in resultados%}
              <tr>
                <td>{{fila.categoria}}</td>
                <td>{{fila.puntaje|default:"0"}}</td>
              </tr>
              {%endfor%}
              <tr><td>TOTAL</td><td>{{encuesta.puntaje}}/180</td></tr>
            </table>
            </div>
              <div id="grafos">
              <ul>
                <li><a class="algo" href="#grafo-consolidado-radar">Consolidado Radar</a></li>
                <li><a class="algo" href="#grafo-consolidado-barra">Consolidado Barra</a></li>
              </ul>
                  <div id="grafo-consolidado-radar" style="width:100%; background:#fff;"><br><center><img src="{{url_grafo.radar}}" /></center></div>
                  <div id="grafo-consolidado-barra" style="width:100%; background:#fff;"><br><center><img src="{{url_grafo.barra}}" /></center></div>
        </div>
    </div>
</div>
{% endblock %}
