{% extends "base2.html" %}
{% load clasificador%}
{%block title%}Resultados{%endblock%}
{% block content %}
<div  style="padding:15px;">
      <h2 class="left"> EXPLORAR EVALUACIONES DE TODAS LAS ORGANIZACIONES</h2>
      <br>
    <form action="." method="post" accept-charset="utf-8">
      {% csrf_token%}
        <table>
        <tr>
            <td>{{ form.tipo.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.tipo }}</td>
        </tr>
        </table>
    <p><input type="submit" value="Continue &rarr;"0></p>
    </form>
    <br>
    <div class="tabla">
         <table>
         <tr>
           <th>Fecha</th>
           <th>Organizacion</th>
           <th>Puntaje</th>
           <th>Accion</th>
        </tr>
          {% for encuesta in encuestas%}
          <tr>
          <td>{{ encuesta.fecha }}</td>
          <td><a href="{% url resultado encuesta.id %}">{{encuesta.organizacion}}</a></td>
          <td> <img src="{{ enceusta.puntaje }}"/> {{encuesta.puntaje}} / 180 </td>
          <td><a href="{% url resultado encuesta.id %}">Ver</a> |
          </tr>
          {% endfor %}
         </table>
    </div>
</div>
{% endblock %}
