<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/files/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
    <title>{%block title%}{%endblock%}</title>
    {%block extra_head%}{%endblock%}
  </head>
  <body>
    <div id ="marco">
        <div id="sidebar">
            <div id="logo">
            </div>
            <img src="/files/imagen/espiral.jpg"></img>
            <hr style="background-color:#b8a2a2;color:#b8a2a2; border:0; height:1px;"></hr>
            <br></br><center><img src="/files/imagen/cedaprode.png"></img></center><br></br>
            <br></br><center><img src="/files/imagen/unops.png"></img></center><br></br>

        </div>

        <div id="cuerpo">
            <div id="panel">
                <div class="margen">
                    <p>Sistema de información en linea para el monitoreo de plan de trabajo de fortalecimiento organizacional para mejorar la gestión ambiental de manejo de la cuenca compartida del río Coco, basado en la propuesta de monitoreo desarrollado por CEDAPRODE y aprobado por UNOPS</p>
                </div>
            </div>
            {%block content%}
            {%endblock%}
        </div>
        <div class="separador"></div>
    </div>
  </body>
</html>
