<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link href="/files/css/estilo.css" rel="stylesheet" type="text/css" media="screen" />
    <title>{%block title%}{%endblock%}</title>
    <script type="text/javascript" src="/files/js/jquery-1.5.1.min.js"></script>
        <script type="text/javascript">
            $(window).load(function(){
                var ancho1 = $(window).width();
                var ancho3 = ancho1 - 239;
                $('#cuerpo').width(ancho3-20);
            });
        </script>
    {%block extra_head%}{%endblock%}

  </head>
  <body>
    <div id ="marco">
        <div id="sidebar">
            <div id="logo">
                <div id="menuside">
                    <a href="/"><img src="/files/imagen/home.png">   Inicio</a>
                    <a href="{% url user-logout %}"><img src="/files/imagen/out.png">   Salir</a>
                </div>
            </div>
            <img src="/files/imagen/espiral.jpg"></img>
            {%block sidebar%}
            <div id="user-info" style="padding:15px;">
                  <img src="/files/imagen/user.png" align="left"></img>
                  <div id="usuario">{{user.get_full_name}}</div>
                  <div id="mail">{{user.email}}</div>
                  <div class="separador"></div>
                  <div id="misorg">MIS ORGANIZACIONES</div>
                  </br>
                  {%if logueado%}
                  {% for organizacion in orgs %}
                    <a href="#">{{organizacion.nombre}}</a>
                  {% endfor %}
                  <div class="separador"></div>
                  {%endif%}
            </div>
            {%endblock%}
            <hr style="background-color:#b8a2a2;color:#b8a2a2; border:0; height:1px;"></hr>
            <br></br><center><img src="/files/imagen/cedaprode.png"></img></center><br></br>
            <br></br><center><img src="/files/imagen/unops.png"></img></center><br></br>
            <br></br><center><a href="http://www.manorpa.org"><img src="/files/imagen/manorpap.png"></a></img>  <a href="http://www.amunse.org.ni"><img src="/files/imagen/amunsep.png"></a></img></center><br></br>
            <div id="enlacefooter"><center>Desarrollado por <a href="http:///www.simas.org.ni">SIMAS</a> bajo plataforma <a href="http://djangoprojecto.org">Django</a></center></div>
        </div>
        <div id="cuerpo">
            <div id="panel" style="height:90px !important;">
                   </br>
                   <a href="{% url organizaciones %}"><img class="izq" src="/files/imagen/organizacionboton.jpg"></img></a>
                   <a href="{% url mis-encuestas %}"><img class="izq" style="margin-left:-8px;"src="/files/imagen/evaluacionboton.jpg"></a>
                   <a href="{% url resultados %}"><img class="izq" style="margin-left:-8px;"src="/files/imagen/explorarboton.jpg"></img></a>
                   <a href="#"><img class="izq"style="margin-left:-8px;" src="/files/imagen/ayudaboton.jpg"></img></a>
                   <div class="separador"></div>
            </div>
            {%block content%}
            {%endblock%}
        </div>
        <div class="separador"></div>
    </div>
  </body>
</html>
