{%extends "base2.html"%}
{%block title%}{%endblock%}
{%block extra_head%}{%endblock%}

{%block content%}
<div style="margin:20px;">
    <h2 class="left">DESCRIPCIÓN DE SECCIONES</h2><br>
    <p><b>Organizaciones:</b> Muestra la lista de organizaciones que ha creado cada usuario, las cuales pueden ser del tipo: gremial, sociedad civil, institución del estado, empresa y alcaldía. En esta sección tambien se pueden agregar nuevas organizaciones </p><br>
    <p><b>Evaluaciones:</b>Sección que presenta las evaluaciones previamente realizadas y organizadas por fecha y procedencia. En esta misma sección existe la opción para crear nuevas evaluaciones</p><br>
    <p><b>Explorar Resultados:</b> Permite la explorarción de los resultados obtenidos en evaluaciones realizadas por otros usuarios. Se pueden filtrar resultados por tipo de organización y municipio de incidencia </p><br>
    <p><b>Ayuda:</b> Video tutorial paso a paso que explica de forma sencilla como usar la aplicación. </p><br>
</div>
{%endblock%}